@model IEnumerable<mmrcis.Models.Patient>

@{
		ViewData["Title"] = "Patient Information";
		Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<table class="table table-striped table-bordered mt-3">
		<thead>
				<tr>
						<th>@Html.DisplayNameFor(model => model.Person.FullName)</th>
						<th>@Html.DisplayNameFor(model => model.Person.PhoneNumber)</th>
						<th>@Html.DisplayNameFor(model => model.Person.Email)</th>
						<th>@Html.DisplayNameFor(model => model.Status)</th>
						<th>@Html.DisplayNameFor(model => model.PatientSince)</th>
						<th>Actions</th>
				</tr>
		</thead>
		<tbody>
				@foreach (var item in Model)
				{
						<tr>
								<td>@Html.DisplayFor(modelItem => item.Person.FullName)</td>
								<td>@Html.DisplayFor(modelItem => item.Person.PhoneNumber)</td>
								<td>@Html.DisplayFor(modelItem => item.Person.Email)</td>
								<td>@Html.DisplayFor(modelItem => item.Status)</td>
								<td>@Html.DisplayFor(modelItem => item.PatientSince)</td>
								<td>
										<a asp-area="Medical" asp-controller="PatientVisitRecord" asp-action="Index" asp-route-patientid="@item.ID" class="btn btn-sm btn-info">Check visit records</a>
								</td>
						</tr>
				}
		</tbody>
</table>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
