@* Areas/Operator/Views/Patients/Details.cshtml *@
@model mmrcis.Models.Patient

@{
    ViewData["Title"] = "Patient Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Patient Details</h1>

<div>
    <hr />
    <dl class="row">
        @* Person Details *@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.DOB)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.DOB)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.Sex)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.Sex)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.BloodGroup)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.BloodGroup)
        </dd>

        @* Patient Specifics *@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PatientSince)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PatientSince)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID" class="btn btn-info">Edit</a> |
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
